.quick-actions {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  width: 60vw;
  margin-bottom: 18px;
}
.action-btn {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;

  margin-right: 10px;
  cursor: pointer;
}
